.tech-description {
    padding-top: 100px;

    @media (max-width: $mobile) {
        padding-top: 50px;
    }

    &__title {
        color: $title-color;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;

        @media (max-width: $mobile) {
            font-size: 34px;
            text-align: center;
        }
    }

    &__name {
        @media (max-width: $mobile) {
            text-align: center;
            order: 1;
        }
    }

    &__description {
        font-weight: 600;
        line-height: 32px;
        text-shadow: 2px 3px 3px #ccc;
    }

    &__text {
        @media (max-width: $mobile) {
            order: 3;
        }
    }

    &__divider {
        margin: 55px 0;
        display: block;

        @media (max-width: $mobile) {
            margin: 55px auto 0;
        }
    }

    &__divider--mobile {
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__img {
        min-width: 300px;
        width: 100%;
    }

    &__img-2 {
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        
        @media (max-width: $mobile) {
            height: auto;
        }
    }

    &__img-block{
        @media (max-width: $mobile) {
           order: 2;
        }
    }

    &__title-2 {
        color: $title-color;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2.42px;
        font-size: 20px;
        line-height: 40px;

        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__text {
        line-height: 32px;
    }
}

.img-block {
    margin-top: -320px;
    @media (max-width: $mobile) {
        margin-top: 0;
    }
}